html, body, img, div {
	margin: 0;
	padding: 0;
}

body {
	user-select: none;
}

input {
	text-align: center;
	margin: 10px auto;
	display: block;
	align-self: center;
	font-size: 24px;
	font-weight: bold;
	font-family: sans-serif;
}

p {
	color: white;
	font-family: sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin: 0;
	padding: 0 8px;	
}

#score {
	text-align: right;
}

.bonus {
	position: absolute;
	top: -32px;
	left: 0px;
	font-size: 18px;
	font-color: green;
	text-shadow: 3px 3px 3px lightgreen,
				 -2px -2px 2px lightgreen,
				 2px -2px 2px lightgreen,
				 -2px 2px 2px lightgreen;
	z-index: 500;
}

.background-image {
	width: 1000px;
	height: auto;
}

.message-text {
	color: #F33;
	text-align: center;
	margin: 20px;
	text-shadow: 3px 3px 3px white,
				 -2px -2px 2px white,
				 2px -2px 2px white,
				 -2px 2px 2px white;
	font-size: 36px;
	font-family: sans-serif;
	font-weight: bold;
}

.asteroid {
	position: absolute;
	width: 64px;
	height: 64px;
	z-index: 80;
	top: 0px;
}

.explosion {
	position: absolute;
	top: -225px;
	left: -225px;
	width: 225px;
	height: 225px;
	z-index: 85;
}

.scoreboard-item {
	position: absolute;
}

#game-container {
	position: absolute;
	overflow: hidden;
	width: 1000px;
	height: 700px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

#click-target {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 700px;
	z-index: 105;
}

#scoreboard {
	position: absolute;
	background-image: linear-gradient(#3F0, #080);
	width: 100%;
	height: 32px;
	top: 0px;
	left: 0px;
	z-index: 100;
}

#scoreboard-score {
	width: 150px;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	right: 0px;
	text-align: right;
}

#scoreboard-location {
	position: absolute;
	width: 250px;
	height: 100%;
	right: 200px;
	top: 0px;
}

#scoreboard-weather {
	position: absolute;
	width: 150px;
	height: 100%;
	right: 120px;
	top: 0px;
}

#scoreboard-wave {
	position: absolute;
	width: 600px;
	height: 100%;
	left: 0px;
	top: 0px;
}

#message {
	position: absolute;
	background-image: linear-gradient(gray, black);
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 110;
	visibility: hidden;
	border: 5px solid red;
	border-radius: 10px;
	box-shadow: 10px 10px 10px black;
}

#sky {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#city {
	position: absolute;
	bottom: -4px;
	left: 0px;
	width: 1000px;
	height: auto;
	z-index: 30;
}

#clouds {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 128px;
	top: 33px;
	left: 0px;
	z-index: 131;
}

#weather-effect {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 90;
}